<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924107996035-8nlqbp2rcrbul37ab84kals6gcirfu11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924107996035-8nlqbp2rcrbul37ab84kals6gcirfu11</string>
	<key>API_KEY</key>
	<string>AIzaSyDx-YdL-W6GMq8o3p7mVBD66muFsIxPDFw</string>
	<key>GCM_SENDER_ID</key>
	<string>924107996035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.facemorphing.morphing</string>
	<key>PROJECT_ID</key>
	<string>face-morphing-app-with-pet</string>
	<key>STORAGE_BUCKET</key>
	<string>face-morphing-app-with-pet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924107996035:ios:ba012242394302d54454b6</string>
</dict>
</plist>